
<div class="examples-container">
<Loop type=edd_product>
  <h2>Product: <Field title /></h2>
  <If field="image">
    <div><Field image /></div>
  </If>
  <div>Description:<br /><Field content /></div>
  <Loop field="vendor">
    <h5>Vendor: <strong><Field first_name /> <Field last_name /></strong></h5>
    Vendor Data:<br />
    -Vendor ID: <Field id /><br />
    -User ID: <Field user_id /><br />
    -date created: <Field date_created /><br />
    -username: <Field username /><br />
    -email: <Field email /><br />
    -store contact email: <Field contact_email /><br />
    -product count: <Field product_count /><br />
    -sales count: <Field sales_count /><br />
    -sales value: <Field sales_value /><br />
    -avatar: <Field avatar /><br />
    -store url: <Field store_url /><br />
    -store name: <Field store_name /><br />
  </Loop>
  <br />
  <div><Field purchase_link /></div>
  <br /><br />
</Loop>
</div>
<!--Shortcode>
  [downloads]
</Shortcode-->
<Markdown>
  **Markup**:
  ```html
  <Loop type=edd_product>
    <h2>Product: <Field title /></h2>
    <If field="image">
      <div><Field image /></div>
    </If>
    <div>Description:<br /><Field content /></div>
    <Loop field="vendor">
      <h5>Vendor: <strong><Field first_name /> <Field last_name /></strong></h5>
      Vendor Data:<br />
      -Vendor ID: <Field id /><br />
      -User ID: <Field user_id /><br />
      -date created: <Field date_created /><br />
      -username: <Field username /><br />
      -email: <Field email /><br />
      -store contact email: <Field contact_email /><br />
      -product count: <Field product_count /><br />
      -sales count: <Field sales_count /><br />
      -sales value: <Field sales_value /><br />
      -avatar: <Field avatar /><br />
      -store url: <Field store_url /><br />
      -store name: <Field store_name /><br />
    </Loop>
    <br />
    <div><Field purchase_link /></div>
    <br /><br />
  </Loop>
  ```
</Markdown>