<Markdown>

  # Default templates

  The `<Edd/>` tag render EDD shortcodes/templates.

  #### Examples

  ```html
  <EddFes checkout/>
  <Edd purchase_link download_id=103 /> <!-- download id required -->
  <Edd download_history />
  <Edd download_discounts />
  <Edd download_price download_id=103 /> <!-- download id required -->
  ```

</Markdown>
