<?php

$framework = tangible();
$loop = tangible_loop();
$html = tangible_template();

$config = $loop->get_type_config('edd_download_file', false /* Prevent default to post loop */);

// $framework->see($config);

// Remove extra fields from extended post loop type
foreach (['fields', 'type', 'ignore_sticky_posts'] as $key) {
  unset($config['query_args'][ $key ]);
}

$html->set_map('query_args', isset($config['query_args']) ? $config['query_args'] : []);
$html->set_map('fields', isset($config['fields']) ? $config['fields'] : []);

?>
<Markdown>

# Download file loop

Field loops do not query to the DB, they receive a prepopulated `items` field.

This Loop is returned by a license's `files` field, it cannot be called directly in a template (can be manually constructed through code, though).

For loop type `edd_download_file`, here are the available query arguments and fields.

</Markdown>

<Load file="/common/query-args.html" />
<Load file="/common/fields.html" />
