
<Set ldroute >
  <Route part=1 />
</Set>
<!--Route />
<Route part=1 />
<Route part=-2 /-->

<If check="{Route}">

  <If check="{Get ldroute}" is value="vendor">
    <Load file="edd-fes/vendor/index.html" />


    <Else if check="{Get ldroute}" is value="vendor-dashboard" />
    <Load file="edd-fes/vendor/vendor-dashboard/index.html" />

    <Else if check="{Route part=-2}" is value="store" />
    <Load file="edd-fes/example/store/index.html" />

    <Else if check="{Route}" is value="tgbl-fes-vendor" />
    <Load file="edd-fes/example/store/index.html" />

    <Else if check="{Route part=1}" is value="tgbl-vendor" />
    <Load file="edd-fes/example/store/index.html" />

    <Else if check="{Route part=1}" is value="checkout" />
    <Load file="edd-fes/example/checkout/index.html" />

    <Else />
    <Load file="not-found.html" />

  </If>
  <Else />
  <Load file="overview/index.html" />
</If>

