<h1>EDD Shop Administration</h1>
<?php

$payment_methods = @$_GET['active'] === 'payment_methods';
$tax_rates = @$_GET['active'] === 'tax_rates';
$discount_codes = !$payment_methods && !$tax_rates;

?>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link <?php if($discount_codes): ?>active<?php endif; ?>" href="?active=discount_codes">Discount codes</a></li>
  <li class="nav-item"><a class="nav-link <?php if($payment_methods): ?>active<?php endif; ?>" href="?active=payment_methods">Payment methods</a></li>
  <li class="nav-item"><a class="nav-link <?php if($tax_rates): ?>active<?php endif; ?>" href="?active=tax_rates">Tax rates</a></li>
</ul>

<div class="tab-content">

<div id="discount_codes" class="tab-pane <?php if($discount_codes): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
  <table class="table">
    <thead>
      <th>Name</th>
      <th>Code</th>
      <th>Status</th>
      <th>Type</th>
      <th>Min price</th>
      <th>Amount</th>
    </thead>
    <tbody>
      <Loop type=edd_discount>
        <tr>
          <td><Field name /></td>
          <td><Field code /></td>
          <td><Field status_label /></td>
          <td><Field type /></td>
          <td><Field min_price /></td>
          <td><Field amount /></td>
        </tr>
      </Loop>
    </tbody>
  </table>
</div>

<div id="payment_methods" class="tab-pane <?php if($payment_methods): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
  <table class="table">
    <thead>
      <th>Admin Label</th>
      <th>Checkout label</th>
      <th>Supports</th>
    </thead>
    <tbody>
      <Loop type=edd_payment_method>
        <tr>
          <td><Field admin_label /></td>
          <td><Field checkout_label /></td>
          <td><Field supports /></td>
        </tr>
      </Loop>
    </tbody>
  </table>
</div>

<div id="tax_rates" class="tab-pane <?php if($tax_rates): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
  <table class="table">
    <thead>
      <th>Rate</th>
      <th>Country</th>
      <th>State</th>
      <th>Global</th>
    </thead>
    <tbody>
      <Loop type=edd_tax_rate>
        <tr>
          <td><Field rate /></td>
          <td><Field country /></td>
          <td><Field state /></td>
          <td><Field global /></td>
        </tr>
      </Loop>
    </tbody>
  </table>
</div>

</div>

<h1>Page markup</h1>
<Markdown>
  ```html
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link <?php if($discount_codes): ?>active<?php endif; ?>" href="?active=discount_codes">Discount codes</a></li>
    <li class="nav-item"><a class="nav-link <?php if($payment_methods): ?>active<?php endif; ?>" href="?active=payment_methods">Payment methods</a></li>
    <li class="nav-item"><a class="nav-link <?php if($tax_rates): ?>active<?php endif; ?>" href="?active=tax_rates">Tax rates</a></li>
  </ul>
  
  <div class="tab-content">
  
  <div id="discount_codes" class="tab-pane <?php if($discount_codes): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
    <table class="table">
      <thead>
        <th>Name</th>
        <th>Code</th>
        <th>Status</th>
        <th>Type</th>
        <th>Min price</th>
        <th>Amount</th>
      </thead>
      <tbody>
        <Loop type=edd_discount>
          <tr>
            <td><Field name /></td>
            <td><Field code /></td>
            <td><Field status_label /></td>
            <td><Field type /></td>
            <td><Field min_price /></td>
            <td><Field amount /></td>
          </tr>
        </Loop>
      </tbody>
    </table>
  </div>
  
  <div id="payment_methods" class="tab-pane <?php if($payment_methods): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
    <table class="table">
      <thead>
        <th>Admin Label</th>
        <th>Checkout label</th>
        <th>Supports</th>
      </thead>
      <tbody>
        <Loop type=edd_payment_method>
          <tr>
            <td><Field admin_label /></td>
            <td><Field checkout_label /></td>
            <td><Field supports /></td>
          </tr>
        </Loop>
      </tbody>
    </table>
  </div>
  
  <div id="tax_rates" class="tab-pane <?php if($tax_rates): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
    <table class="table">
      <thead>
        <th>Rate</th>
        <th>Country</th>
        <th>State</th>
        <th>Global</th>
      </thead>
      <tbody>
        <Loop type=edd_tax_rate>
          <tr>
            <td><Field rate /></td>
            <td><Field country /></td>
            <td><Field state /></td>
            <td><Field global /></td>
          </tr>
        </Loop>
      </tbody>
    </table>
  </div>
  
  </div>
  ```
</Markdown>
