<!--Shortcode>
  [downloads]
</Shortcode-->
<Markdown>
  **Markup**:
  ```html
  <Loop type=edd_product vendor_slug="{Route part=2}"><!-- or vendor_id="1,2,3" -->
    <p>
    <h2><Field title /></h2>
    <If field="image">
      <div><Field image /></div>
    </If>
    <div><Field content /></div>
    <div><Field purchase_link /></div>
    </p>

  </Loop>
  ```
</Markdown>

<Loop type=edd_product vendor_slug="{Route part=2}">
  <p>
  <h2><Field title /></h2>
  <If field="image">
    <div><Field image /></div>
  </If>
  <div><Field content /></div>
  <div><Field purchase_link /></div>
  </p>

</Loop>

