<?php
use BetterDash as bdash;

$logic = tangible_logic();
$html = tangible_template();

$logic_rules_ld = $logic->get_rules_by_category('lifterlms');

$logic_rules =$logic_rules_ld;

$logic_rule_keys = ['student' ,'student_grade', 'student_overall_grade', 'student_overall_progress'];

$html->set_list('logic_fields', array_map(function($key) use ($logic_rules) {
return $logic_rules[ $key ][0]; // Fields can have more than one config
}, $logic_rule_keys));

//tgbl()->see( $logic_rules );
//tgbl()->see( $html->get_list('logic_fields') );

?>
<Markdown>

# Student logic

## Some Usage Examples

```html
  <If student enrolled>
  <If student active>
  <If student_overall_grade greater_than value="80">

  ...

```

## Rules

Here are the registered conditional rules.

<Load from=child_theme file="common/conditional-rules.html" />

</Markdown>
