<Markdown>

  # Default templates

  The `<EddFes/>` tag render EDD FES shortcodes/templates.

  #### Examples

  ```html
  <EddFes dashboard/>
  <EddFes earnings/>
  <EddFes new-product/>
  <EddFes orders/>
  <EddFes products/>
  <EddFes profile/>
  ```

</Markdown>
