<div class="examples-container">
<Loop type=edd_commission>
  <br /><br />
</Loop>

<Markdown>
  **Markup**: Vendor Data:
  ```html
  <Loop type=edd_commission>

  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>
</div>





