<h1>EDD Shop Administration</h1>
<?php
$payments_active = @$_GET['active'] !== 'users';
$users_active = @$_GET['active'] === 'users';
?>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link <?php if($payments_active): ?>active<?php endif; ?>" href="?active=payments">Payment History</a></li>
  <li class="nav-item"><a class="nav-link <?php if($users_active): ?>active<?php endif; ?>" href="?active=users">Users</a></li>
</ul>

<div class="tab-content">

<div id="payments" class="tab-pane <?php if($payments_active): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
  <h5>Latest payments</h5>
  <Loop type=edd_payment orderby=date order=desc count=2>
    <div class="p-1 payment row border-bottom position-relative">
      <div class="col-4">
        <p>Customer ID: <Field customer_id /></p>
        <p>Email: <Field email /></p>
      </div>
      <div class="col-3">
        <p>Amount: <Field amount /></p>
        <p>Status: <Field status /></p>
      </div>
      <div class="col-5">
        <dl>
          <dt>Subscription</dt>
          <If field="subscription_id">
            <Loop type=edd_subscription id="{Field subscription_id}">
            <dd>Subscription ID #<Field id />, recurring <Field recurring_amount /></dd>
            </Loop>
          <Else>
            <dd>No associated subscription</dd>
          </If>

          <dt>Licenses</dt>
          <If loop exists field="licenses">
            <ul style="list-style-type: none;margin:0;padding:0">
              <Loop field="licenses">
                <li><Field name />, expires: <Field expiration /></li>
              </Loop>
            </ul>
          <Else>
            <dd>No associated licenses</dd>
          </If>
        </dl>
      </div>
      <div class="position-absolute text-secondary" style="top: 1px; right: -40px;">
        <small><Field date /></small>
      </div>
    </div>
  </Loop>
</div>

<div id="users" class="tab-pane <?php if($users_active): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
  <table class="table">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Purchases</th>
      <th>Purchased amount</th>
      <th>Created</th>
    </thead>
    <tbody>
      <Loop type=edd_customer>
        <tr>
          <td><Field id /></td>
          <td><Field name /></td>
          <td><Field email /></td>
          <td><Field purchase_count /></td>
          <td><Field purchase_value /></td>
          <td><Field date_created /></td>
        </tr>
      </Loop>
    </tbody>
  </table>
</div>

</div>

<h1>Page markup</h1>
<Markdown>
  ```html
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link <?php if($payments_active): ?>active<?php endif; ?>" href="?active=payments">Payment History</a></li>
    <li class="nav-item"><a class="nav-link <?php if($users_active): ?>active<?php endif; ?>" href="?active=users">Users</a></li>
  </ul>
  
  <div class="tab-content">
  
  <div id="payments" class="tab-pane <?php if($payments_active): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
    <h5>Latest payments</h5>
    <Loop type=edd_payment orderby=date order=desc count=2>
      <div class="p-1 payment row border-bottom position-relative">
        <div class="col-4">
          <p>Customer ID: <Field customer_id /></p>
          <p>Email: <Field email /></p>
        </div>
        <div class="col-3">
          <p>Amount: <Field amount /></p>
          <p>Status: <Field status /></p>
        </div>
        <div class="col-5">
          <dl>
            <dt>Subscription</dt>
            <If field="subscription_id">
              <Loop type=edd_subscription id="{Field subscription_id}">
              <dd>Subscription ID #<Field id />, recurring <Field recurring_amount /></dd>
              </Loop>
            <Else>
              <dd>No associated subscription</dd>
            </If>
  
            <dt>Licenses</dt>
            <If loop exists field="licenses">
              <ul style="list-style-type: none;margin:0;padding:0">
                <Loop field="licenses">
                  <li><Field name />, expires: <Field expiration /></li>
                </Loop>
              </ul>
            <Else>
              <dd>No associated licenses</dd>
            </If>
          </dl>
        </div>
        <div class="position-absolute text-secondary" style="top: 1px; right: -40px;">
          <small><Field date /></small>
        </div>
      </div>
    </Loop>
  </div>
  
  <div id="users" class="tab-pane <?php if($users_active): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
    <table class="table">
      <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Purchases</th>
        <th>Purchased amount</th>
        <th>Created</th>
      </thead>
      <tbody>
        <Loop type=edd_customer>
          <tr>
            <td><Field id /></td>
            <td><Field name /></td>
            <td><Field email /></td>
            <td><Field purchase_count /></td>
            <td><Field purchase_value /></td>
            <td><Field date_created /></td>
          </tr>
        </Loop>
      </tbody>
    </table>
  </div>
  ```
</Markdown>