<Note>

Create a list of defined fields

Set map=fields before loading

</Note>

<h4>Fields</h4>

<ul>
  <Loop map_keys=fields>
    <li>
      <code class="color-attribute" render><Field key /></code>

      <Loop field=value>
        - <Field description /><br>
      </Loop>
    </li>
  </Loop>
</ul>
