<Note>

Create a list of defined query arguments

Set map=query_args before loading

</Note>

<h4>Query arguments</h4>

<ul>
  <Loop map_keys=query_args>
    <li>
      <code class="color-attribute" render><Field key /></code>

      <Loop field=value>
        - <Field description />
        <p>
          <If field=default>
            Default: <code class="color-value" render><Field default /></code><br>
          </If>

          <If field=type>
            Type: <Field type format=join glue=", " />
          </If>
        </p>
      </Loop>
    </li>
  </Loop>
</ul>
