<?php

$framework = tangible();
$loop = tangible_loop();
$html = tangible_template();

$config = $loop->get_type_config('edd_customer', false);

// $framework->see($config);

$html->set_map('query_args', isset($config['query_args']) ? $config['query_args'] : []);
$html->set_map('fields', isset($config['fields']) ? $config['fields'] : []);

?>
<Markdown>

# Customer loop

For loop type `edd_customer`, here are the available query arguments and fields.

</Markdown>

<Load file="/common/query-args.html" />
<Load file="/common/fields.html" />
