<div class="examples-container">
  <h1>Commissions :</h1>
  <Loop type=edd_commission>
    <h4> Commission ID: <Field id /></h4>
    <h5>Commission data:</h5>
    -user id: <Field user_id /><br />
    -status: <Field status /><br />
    -type: <Field type /><br />
    -rate: <Field rate /><br />
    -payment id: <Field payment_id /><br />
    -currency: <Field currency /><br />
    -amount: <Field amount /><br />
    -download id: <Field download_id /><br />
    -date created: <Field date_created /><br />
    -date paid: <Field date_paid /><br />
    <br /><br />
  </Loop>

<Markdown>

  **Markup** commissions:
  ```html
  <Loop type=edd_commission>
    <h4> Commission ID: <Field id /></h4>
    <h5>Commission data:</h5>
    -user id: <Field user_id /><br />
    -status: <Field status /><br />
    -type: <Field type /><br />
    -rate: <Field rate /><br />
    -payment id: <Field payment_id /><br />
    -currency: <Field currency /><br />
    -amount: <Field amount /><br />
    -download id: <Field download_id /><br />
    -date created: <Field date_created /><br />
    -date paid: <Field date_paid /><br />
    <br /><br />
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>
</div>

<div class="examples-container">
  <h1>Commissions - date paid filter :</h1>
  <Loop type=edd_commission date_paid="September 11, 2021" date_paid_compare="before_inclusive">
    <h4> Commission ID: <Field id /></h4>
    <h5>Commission data:</h5>
    -user id: <Field user_id /><br />
    -status: <Field status /><br />
    -date paid: <Field date_paid /><br />
    <br /><br />
  </Loop>

<Markdown>

  **Markup** commissions:
  ```html
  <Loop type=edd_commission date_paid="September 11, 2021" date_paid_compare="before_inclusive">
    <h4> Commission ID: <Field id /></h4>
    <h5>Commission data:</h5>
    -user id: <Field user_id /><br />
    -status: <Field status /><br />
    -date paid: <Field date_paid /><br />
    <br /><br />
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>
</div>




