<h1>EDD Shop Administration</h1>
<?php
  $download_logs = true;
?>

<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link <?php if($download_logs): ?>active<?php endif; ?>" href="?active=download_logs">Download Logs</a></li>
</ul>

<div class="tab-content">

<div id="download_logs" class="tab-pane <?php if($download_logs): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
  <table class="table">
    <thead>
      <th>File</th>
      <th>Payment ID</th>
      <th>Product</th>
      <th>User</th>
    </thead>
    <tbody>
      <Loop type=edd_download_log>
        <tr>
          <td><Field file /></td>
          <td><Field payment_id /></td>
          <td><Loop type="edd_product" id="{Field product_id}"><Field name /></Loop></td>
          <td><Loop type="edd_customer" id="{Field user_id}"><Field name /></Loop></td>
        </tr>
      </Loop>
    </tbody>
  </table>
</div>

</div>

<h1>Page markup</h1>
<Markdown>
  ```html
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link <?php if($download_logs): ?>active<?php endif; ?>" href="?active=download_logs">Download Logs</a></li>
  </ul>
  
  <div class="tab-content">
  
  <div id="download_logs" class="tab-pane <?php if($download_logs): ?>fade-in active<?php else: ?>fade<?php endif; ?>">
    <table class="table">
      <thead>
        <th>File</th>
        <th>Payment ID</th>
        <th>Product</th>
        <th>User</th>
      </thead>
      <tbody>
        <Loop type=edd_download_log>
          <tr>
            <td><Field file /></td>
            <td><Field payment_id /></td>
            <td><Loop type="edd_product" id="{Field product_id}"><Field name /></Loop></td>
            <td><Loop type="edd_customer" id="{Field user_id}"><Field name /></Loop></td>
          </tr>
        </Loop>
      </tbody>
    </table>
  </div>
  
  </div>
  ```
</Markdown>
