<Markdown>

# Overview

**Tangible Loops for EDD** provides content loops and conditions for [Easy Digital Downloads](https://docs.easydigitaldownloads.com/).

It integrates with the  <a href="{Get loops_and_logic_url}">Loops & Logic plugin</a>.

## Content types

Here are the integrated content types.

- [Cart](/cart)
- [Commission](/commission/loop)
- [Customer](/customer)
- [Discount](/discount)
- [Download log](/download_log)
- [License](/license)
- [Payment](/payment)
- [Payment method](/payment_method)
- [Product](/product)
- [Product review](/product_review)
- [Subscription](/subscription)
- [Tax rate](/tax_rate)
- [Vendor](/vendor/loop)

</Markdown>
