
/**
 * Task list
 *
 * Example:
 *
 * ```markdown
 * - [ ] Incomplete task
 * - [x] Completed task
 * ```
 */

.task-list-item {
  list-style-type: none;
  margin-left: -1.3rem;
  ul {
    margin-left: 1.3rem;
  }
}

.task-list-item-checkbox {
  margin-right: .1rem !important;
  margin-bottom: .1rem;
  vertical-align: middle;
  pointer-events: none;
}
