$sidebar-width: 18rem;
$sidebar-border-color: rgba(255, 255, 255, 0.4);

#sidebar-wrapper {
  position: fixed;
  z-index: 5; // Above CodeMirror

  &,
  & > .list-group,
  .list-group-item {
    color: #fafafa;
    background-color: #313644;
  }

  .sidebar-heading {
    padding: .125rem 1.25rem .125rem .5rem;
    font-size: 1.2rem;
    background-color: #295cbf !important;
    color: white !important;
    width: 100vw;
  }

  .sidebar-subheading,
  .list-group-item {
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 1.25rem;
  }

  .sidebar-subheading {
    border-bottom: 1px solid $sidebar-border-color !important;
    text-transform: uppercase;

    color: rgba(255, 255, 255, 0.6);
    margin-top: .5rem;
    // margin-bottom: .25rem;
    // padding-left: .75rem;
    letter-spacing: .044rem;
    font-size: .85rem;
  }

  hr {
    margin: .25rem 0;
    border-color: #121212 !important;
  }

  .list-group {
    flex-grow: 0 !important;
    height: 0;
    overflow: hidden;
    & > hr {
      margin: 0;
      border-width: 2px;
      border-color: $sidebar-border-color;
    }
    .list-group-item {
      border: 0;
    }

    .list-group-item .list-group-item-action {
      // font-size: 95%;
      // padding-left: 2.25rem;
    }
    a.list-group-item:hover {
      background-color: rgba(171,198,255,0.1);
    }
    .list-group-item.active {
      color: #fff;
      background-color: rgba(171,198,255,0.2);
      margin-top: 0; // Override Bootstrap default -1px
    }
  }
}

#page-content-wrapper {
  width: 100%;
  margin-top: 4rem;
}

#wrapper.toggled {
  &, #sidebar-wrapper {
    max-height: 100vh;
    overflow: hidden;
  }
  #sidebar-wrapper {
    height: 100vh;
    z-index: 99;
  }
  #sidebar-wrapper .list-group {
    height: auto;
    flex-grow: 1 !important;
    overflow-y: auto;
  }
}

@media (min-width: 768px) {

  .container {
    max-width: 860px;
    margin-left: 0;
  }

  #wrapper #sidebar-wrapper {
    max-height: 100vh;
    overflow: hidden;
  }

  #sidebar-wrapper {
    height: 100vh;
    margin-left: 0;
    .list-group {
      width: $sidebar-width;
      height: auto;
      flex-grow: 1 !important;
      overflow-y: auto;
    }
    .sidebar-heading {
      width: auto;
      // border-right: 1px solid $sidebar-border-color;
      .navbar-brand {
        margin: 0;
      }
    }
  }

  #page-content-wrapper {
    margin-top: 0;
    min-width: 0;
    width: 100%;
    padding-left: $sidebar-width;
  }
}