<div class="examples-container">
  <h1>Download logs :</h1>
  <Loop type=edd_download_log>
    <h4> Download log ID: <Field id /></h4>
    <h5>Download log data:</h5>
    -user id: <Field user_id /><br />
    -status: <Field status /><br />
    -payment id: <Field payment_id /><br />
    -product id : <Field product_id  /><br />
    -file : <Field product_id  /><br />
    <br /><br />
  </Loop>

<Markdown>

  **Markup** commissions:
  ```html
  <Loop type=edd_download_log>
    <h4> Download log ID: <Field id /></h4>
    <h5>Download log data:</h5>
    -user id: <Field user_id /><br />
    -status: <Field status /><br />
    -payment id: <Field payment_id /><br />
    -product id : <Field product_id  /><br />
    -file : <Field product_id  /><br />
    <br /><br />
  </Loop>
  ```
  ********************************************************************
  ********************************************************************
</Markdown>
</div>





